* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}
a {
    text-decoration: none;
}

button {
    background: none;
    border: none;
    cursor: pointer;
}
html {
    font-size: 16px;
    font-family:sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(8, 2, 31);
    color: #fff;
    height: 100dvh;
}
.container {
    max-width: 1280px;
    padding-inline: 20px;
}
.accordion-container {
    width: 100%;
    background-color:beige;
    border-radius: 1rem;
    color:rgb(8, 2, 31);
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}
.accordion {
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    max-width: 700px;
    width: 100%;
    border-radius: 10px;
    background-color: #fff;
}
.accordion-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: white;
    /* width: 100%; */
    border-radius: 10px;
}
.accordion-item h5 {
    font-size: 1.2rem;
}
.accordion-item button {
    font-size: 1.5rem;
    width: 2rem;
}
.accordion-content {
    visibility:hidden;
    transition: all 300ms ease-in-out;
    height: 0;
    padding-inline: 20px;
}
.accordion-item:target +  #abc{
    visibility: visible;
    height: 5rem;
    padding: 10px 20px;
}
.accordion.active {
    border: 1px solid rgb(0, 119, 255);
}