*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    gap:2rem;
    align-items: center;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}
input{
    padding: 0.5rem;
    font-size: 1.2rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 250px;
    text-align: center;
}
#calculateBtn{
    background-color: #d4ddd6;
    font-size: 23px;
    padding: 0.5rem 1rem;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}