* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-size: 16px;
}
.container {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background-color: beige;
    height: 100dvh;
}
.pagination-container {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    margin-bottom: 1rem;
}
.circle {
    border: 2px solid black;
    border-radius: 9999px;
    width:2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}